KEYCLOAK_REALM=banco-meriva
KEYCLOAK_AUTH_SERVER_URL=https://localhost:9087/auth
KEYCLOAK_CLIENT_ID=super-client
KEYCLOAK_CLIENT_SECRET=wuxWC3pubUhN0bceozlA9Cxz8M8e4EGd
CALLBACK_URL=http://localhost:3809/auth/callback
